.section {
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem;

	background-attachment: fixed; /* make the background image fixed meanwhile scrolling */
	background-repeat: no-repeat; /* prevent the background image from repeating */
	position: relative;
}
/**/
.section.withImage {
	background-size: cover; /* make the background image cover the entire section */
	background-position: center; /* center the background image */
}
.section.withImage::before {
	content: ""; /* no text and no picture, just a background overlay */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(
		255,
		255,
		255,
		0.8
	); /* if the section has a background image, the overlay will partially cover it, making the text on top more readable. */
	z-index: 1;
}

.titleContainer {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.titleContainer h2 {
	font-size: 2rem;
	text-align: center;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	text-align: center;
}

.text {
	color: rgb(12, 12, 12);
	line-height: 1.6;
	margin-bottom: 2rem;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
	.textContainer {
		max-width: 600px;
		margin: 0 2rem;
	}
}

@media (max-width: 768px) {
	.section {
		padding: 3rem 1.5rem;
		background-attachment: scroll;
	}

	.titleContainer h2 {
		font-size: 1.5rem;
	}

	.textContainer {
		margin: 0 1rem;
	}

	.text {
		font-size: 0.95rem;
	}
}
