/* RecipeMeal.module.css */
.detailWrapper {
	width: 90%;
	margin: 4rem auto 5rem;
}

.title {
	margin-bottom: 3rem;
	text-align: center;
}

.box {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 100%;
	margin-left: 0;
	display: flex;
	flex-direction: column;
}
.image {
	width: 100%;
	height: auto;
	border-radius: 4px;
}
.btns {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.description {
	font-weight: 300;
	margin-bottom: 1rem;
	color: rgb(84, 84, 84);
}
.instructionsTitle {
	color: rgb(20, 20, 20);
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}
.ingredients,
.recipe {
	color: rgb(20, 20, 20);
	font-size: medium;
}
@media (min-width: 768px) {
	.detailWrapper {
		width: 80%;
	}
	.btns {
		flex-direction: row;
	}
}

@media (min-width: 1024px) {
	.detailWrapper {
		width: 70%;
	}
	.section {
		width: 47%;
		margin-left: 3%;
	}
}
