/* INPUT CONTAINER */
.filterContainer {
	margin-bottom: 24px;
}

/* INPUT FORM */
.searchForm {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
/* to position child elements: span, input and btn */
.inputGroup {
	position: relative;
	width: 100%;
}
.inputGroup:hover .searchInput {
	border-color: #ffd6c0; /* Change the color of the border and icon when hovering over with the mouse*/
}

.inputGroup:hover .searchIcon {
	color: rgba(
		163,
		66,
		39,
		1
	); /* Change the text color on hover */
}

/* SEARCH INPUT */
.searchInput {
	width: 100%;
	padding: 16px 50px 16px 50px;
	border: 2px solid #f5f5dc;
	border-radius: 25px;
	font-size: 16px;
	background-color: #f5f5dc;
	color: rgba(163, 66, 39, 0.98);
	transition: all 0.3s ease;
	box-sizing: border-box;
}

/* INPUT FOCUS */
.searchInput:focus {
	outline: none;
	border-color: #ffd6c0;
	background-color: #fff;
	box-shadow: 0 0 0 4px rgba(255, 214, 192, 0.2);
	transform: translateY(-1px);
}

/* PLACEHOLDER text */
.searchInput::placeholder {
	color: rgba(163, 66, 39, 0.6);
	font-style: italic;
}
/* SEARCHING If isSearching apllied searching styles */
.searching .searchInput {
	border-color: #ffd6c0;
	background-color: #fff;
}

.searching .searchIcon {
	color: rgba(163, 66, 39, 1);
	animation: pulse 1.5s infinite;
}

/*  MAGNIFYING GLASS ICON */
.searchIcon {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: rgba(163, 66, 39, 0.7);
	pointer-events: none;
	z-index: 10;
}

/* CLEAR ICON */
.clearIcon {
	position: absolute;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: rgba(163, 66, 39, 0.7);
	cursor: pointer;
	z-index: 10;
	background: none;
	border: none;
	padding: 4px;
	border-radius: 50%;
	transition: all 0.2s ease;
	opacity: 0;
	visibility: hidden; /* hidden by default */
}

/* Show btn "X" just when there's text */
.clearIcon.visible {
	opacity: 1;
	visibility: visible;
}

.clearIcon:hover {
	background-color: rgba(205, 11, 11, 0.1);
	color: rgba(163, 66, 39, 1);
	transform: translateY(-50%) scale(1.1); /* scale up on hover */
}

.clearIcon:active {
	transform: translateY(-50%) scale(0.95); /* scale down on click */
}

/* ANIMATIONS */
/* magnifying glass icon increase lightly */
@keyframes pulse {
	0%,
	100% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
		transform: translateY(-50%) scale(1.1);
	}
}

/* RESPONSIVE */
@media (max-width: 768px) {
	.searchForm {
		width: 80%;
	}
	.filterContainer {
		padding: 5px;
		margin-bottom: 16px;
	}

	.searchInput {
		padding: 14px 45px 14px 45px;
		font-size: 14px;
	}

	.searchIcon,
	.clearIcon {
		font-size: 16px;
	}

	.searchIcon {
		left: 15px;
	}

	.clearIcon {
		right: 15px;
	}
}
